<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">Add New Playlist</h5>
  </div>
  <div class="modal-body">
    <form [formGroup]="playlistForm" (submit)="onSubmit()">
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          formControlName="title"
          type="text"
          class="form-control"
          id="title"
          required
          name="title"
        />
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          formControlName="description"
          class="form-control"
          id="description"
          rows="3"
          name="description"
        ></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Save</button>
      <button type="button" class="btn btn-secondary" (click)="closeModal()">
        Close
      </button>
    </form>
  </div>
</div>
